@use "src/app/(main)/variables" as v;

.subscribeButton {
  background-color: transparent;
  border-radius: 3px;
  color: black;
  border: 1px solid black;
  padding: 1.2rem;
  cursor: pointer;
  &:hover {
    background-color: black;
    color: whitesmoke;
  }
  &:disabled {
    background-color: #a7a7a7;
    color: white;
    border: none;
    cursor: default;
    &:hover {
    }
  }
}

.theWrapper {
  padding: 2rem;
  position: fixed;
  z-index: 5;
  bottom: 2vh;
  right: 1vw;
  width: 20vw;
  max-height: 30vh;
  border-radius: 2rem;
  background-color: whitesmoke;
  box-shadow: rgba(0, 0, 0, 0.44) 0px 3px 8px;
}

.inputs {
  width: 13rem;
}

.congratsMessage {
  text-align: center;
  margin-bottom: 8vh;
  margin-top: auto;
}

@media (max-width: v.$layout-breakpoint-small) {
  .subscribeButton {
    padding: 1.5vw 2vw 1.5vw 2vw;
    font-size: smaller;
  }

  .theWrapper {
    padding: 1rem;
    bottom: 2vh;
    right: 3vw;
    max-width: 45vw;
    max-height: 40vh;
    border-radius: 1rem;
  }

  .inputs {
    min-width: 10vw;
    max-width: 15vw;
  }
}
