@use "src/app/(main)/variables" as v;

.blogPage {
  background-color: white;
  width: 100%;
  height: 100%;
  overflow: auto;
  padding: 0 14% 30px 11%;
}

.blogTitle {
  text-align: center;
  margin: 1.5% 0 0 0;
}

.extraInfo {
  display: flex;
  justify-content: space-between;
  padding: 0 3% 0 3%;

  h4 {
    margin: 1em 0em 0em 0em;
  }
}

.extraInfo + hr {
  width: 94%;
  margin: 0 auto;
}

.lastUpdate {
  text-align: end;
}

.backArrow {
  position: fixed;
  margin-top: 1.5%;
  left: 10%;
  cursor: pointer;
  z-index: 33;
}

.gitHardComments24 {
  position: relative;
  margin-top: 30px;
  width: auto;
  margin: 0 7% 0 7%;
  height: auto;
  max-height: 75vh;
  margin-bottom: 5vh;
  overflow-y: auto;
}

.blogPostContent {
  padding: 0 50px 10px 50px;
  margin-top: 50px;
  font-size: large;
  width: auto;
}

.editStarWrapper {
  display: flex;
  align-items: center;
  margin: 10px 11vw 10px 11vw;
  gap: 5vw;
  min-height: 100px;
  max-height: 150px;
  position: relative;
  width: auto;
}

.editThisPageButton {
  letter-spacing: 0.23rem;
  word-spacing: 0.5rem;
  text-align: center;
  padding: 10px 10.5% 10px 10.5%;
  outline: 1px solid black;
  text-decoration: none;
  justify-content: center;
  font-size: large;
  flex: 1 1 auto;
  height: auto;
  color: black;
  user-select: none;
  display: flex;
  gap: 5px;

  align-items: center;
}
.editThisPageButton:hover {
  background-color: #000000;
  color: white;
}

@media (max-width: v.$layout-breakpoint-small) {
  .blogPage {
    background-color: white;
    width: 100%;
    height: 100%;
    overflow: auto;
    padding: 0;
    overflow-y: auto;
    overflow-x: hidden;
  }

  .blogTitle {
    text-align: center;
    // padding: 0 20% 0% 20%;

    margin: 1.5% 0 0 0;
  }

  .extraInfo {
    display: flex;
    justify-content: space-between;
    padding: 0 3% 0 3%;

    h4 {
      margin: 1em 0em 0em 0em;
    }
  }

  .extraInfo + hr {
    width: 94%;
    margin: 0 auto;
  }

  .lastUpdate {
    text-align: end;
  }

  .backArrow {
    margin-top: 1.5%;
    left: 1vw;
    width: 2rem;
    height: 2rem;
  }

  .gitHardComments24 {
    margin-top: 15px;
    margin: 0 5vw 0 5vw;
  }

  .blogPostContent {
    padding: 0 2.5vw 0px 2.5vw;
    margin-top: 15px;
    font-size: medium;
  }

  .editThisPageButton {
    padding: 10px 4vw 10px 4vw;
    font-size: medium;
  }
}
