.homePage {
  width: 100%;
  height: 100%;
  display: flex;
  .textZone {
    position: absolute;
    // left: 10%;
    top: 50%;
    transform: translateY(-50%);
    width: 40%;
    max-height: 90%;
    white-space: nowrap;

    h1 {
      color: #000000;
      font-size: 8vw;
      @media screen and (min-width: 900px) {
        font-size: 70px;
        line-height: normal;
      }
      // font-size: 500%;
      line-height: normal;
      margin: 0;
      font-family: "Coolvetica";
      font-weight: 400;
      letter-spacing: normal;

      img {
        margin-left: 20px;
        opacity: 0;
        width: 32px;
        height: auto;
        animation: rotateIn 1s linear both;
        animation-delay: 1.4s;
      }
    }

    h2 {
      color: #8d8d8d;
      margin-top: 20px;
      font-weight: 400;
      font-size: 11px;
      font-family: sans-serif;
      letter-spacing: 3px;
      animation: fadeIn 1s 1.8s backwards;
    }

    .flatButton {
      color: black;
      font-size: 13px;
      font-weight: 400;
      letter-spacing: 4px;
      font-family: sans-serif;
      text-decoration: none;
      padding: 10px 18px;
      border: 1px solid black;
      margin-top: 25px;
      float: left;
      animation: fadeInAnimation 1s 1.8s backwards;
      white-space: nowrap;

      &:hover {
        background: #000000;
        color: white;
      }
    }
  }
}

h2.nonSelectable {
  height: 25px;
  align-items: center;

  span {
    transition: font-size 3s linear;
  }
}
