.contact-form {
  position: absolute;
  left: 5%;
  bottom:10%;
  // transform: translateY(-50%);
  width: 40%;
  height: 100%;
  vertical-align: middle;
  display: table-cell;
  max-height: 35%;
  margin-top: 0;



  ul {


    padding: auto;
    margin: 0;

    li {


      padding: 0;
      margin: 0;
      list-style: none;
      margin-bottom: 10px;
      opacity: 0;
      overflow: hidden;
      display: block;
      clear: both;
      position: relative;
      animation: fadeInUp 2s 2s;
      animation-fill-mode: forwards;
    }

    li.half {
      width: 49%;
      
      margin-left: 2%;
      float: left;
      clear: none;


      &:first-child {
        margin-left: 0;
      }
    }
  }

  input[type='text'],
  input[type='email'] {
    width: 100%;
    border: 0;
    background: #181818;
    height: 50px;
    font-size: 16px;
    color: #fff;
    padding: 0 20px;
    box-sizing: border-box;
  }

  textarea {

    width: 100%;
    border: 0;
    background: #181818;
    height: 50px;
    font-size: 16px;
    color: #fff;
    padding: 20px;
    box-sizing: border-box;
    min-height: 150px;
  }

  .flat-button {
    color: #ffd700;
    font-size: 11px;
    letter-spacing: 3px;
    text-decoration: none;
    padding: 8px 10px;
    border: 1px solid #ffd700;
    float: left;
    border-radius: 4px;
    background: 0 0;
    text-transform: uppercase;
    float: right;
    text-align: center;
    margin-right: 10px;
  }
}

.map-wrap {
  @media screen and (max-width: 1200px) {
    display: none;

  }
  width: 52%;
  height: 100%;
  position: absolute;
  left: 48%;

  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  
  
}


.info-map{
  color: #fff;
  font-weight: 500;
  font-size: large;
}