.contact-form {
  @media screen and (max-width: 1200px) {
    width: 80%;
  }
  .flat-button {
    @media screen and (max-width: 1200px) {
      background-color: #181818;
    }
  }

  position: absolute;
  bottom: 10%;
  float: left;
  width: 40%;
  height: 100%;
  vertical-align: middle;
  display: table-cell;
  max-height: 40%;
  margin-top: 0;
  left: -50px;

  ul {
    padding: auto;
    margin: 0;
    li {
      padding: 0;
      margin: 0;
      list-style: none;
      margin-bottom: 10px;
      opacity: 0;
      overflow: hidden;
      display: block;
      clear: both;
      position: relative;
      animation: fadeInUp 2s 2s;
      animation-fill-mode: forwards;
    }

    li.half {
      width: 49%;

      margin-left: 2%;
      float: left;
      clear: none;

      &:first-child {
        margin-left: 0;
      }
    }
  }

  input[type="text"],
  input[type="email"] {
    width: 100%;
    border: 0;
    background: #181818;
    height: 50px;
    font-size: 16px;
    color: #fff;
    padding: 0 20px;
    box-sizing: border-box;
  }

  textarea {
    width: 100%;
    border: 0;
    background: #181818;
    height: 50px;
    font-size: 16px;
    color: #fff;
    padding: 20px;
    box-sizing: border-box;
    min-height: 170px;
  }

  .flat-button {
    color: #ffd700;
    font-size: 11px;
    letter-spacing: 3px;
    text-decoration: none;
    padding: 8px 10px;
    border: 1px solid #ffd700;
    float: left;
    border-radius: 4px;
    background: 0 0;
    text-transform: uppercase;
    float: right;
    text-align: center;
    margin-right: 10px;
  }
}

.map-wrap {
  @media screen and (max-width: 1200px) {
    display: none;
  }
  width: 57%;
  height: 100%;
  position: absolute;
  left: 43%;

  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.text-zone {
  @media screen and (max-width: 1200px) {
    width: 60%;
  }
  position: absolute;
  // left: 8%;
  top: 35%;
  transform: translateY(-50%);
  width: 40%;
  vertical-align: middle;
  display: table-cell;
  max-height: 90%;
}
.text-animate-hover {
  &:hover {
    color: #fff;
  }
}

.container.contact-page {
  height: 100%;
  left: 105px;
  h1 {
    font-size: 53px;
    font-family: "Coolvetica";
    color: #ffd700;
    font-weight: 400;
    margin-top: 0;
    position: relative;
    margin-bottom: 40px;
    left: -10px;
  }
  p {
    font-size: 14px;
    color: #fff;
    font-family: sans-serif;
    font-weight: 300;
    max-width: fit-content;
    animation: pulse 1s;
    &:nth-of-type(1) {
      animation-delay: 1.1s;
    }
    &:nth-of-type(2) {
      animation-delay: 1.2s;
    }
    &:nth-of-type(3) {
      animation-delay: 1.3s;
    }
  }
}

.nonSelectable {
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}
