@use "src/app/(main)/variables" as v;

.contactForm {
  padding: 0 30px 0 0px;
  ul {
    padding: initial;
    margin: 55px 0 0 0;
    position: relative !important;
    li {
      position: relative !important;

      padding: 0;
      margin: 0;
      list-style: none;
      margin-bottom: 10px;
      //opacity: 0;
      overflow: hidden;
      display: block;
      clear: both;
      position: relative;
      animation: fadeInUp 2s 2s;
      animation-fill-mode: forwards;
    }

    li.half {
      width: 49%;

      margin-left: 2%;
      float: left;
      clear: none;

      &:first-child {
        margin-left: 0;
      }
    }
  }

  input[type="text"],
  input[type="email"] {
    width: 100%;
    border: 0;
    background: transparent;
    border: 1px solid black;
    height: 50px;
    font-size: 16px;
    color: #000000;
    padding: 0 20px;
    box-sizing: border-box;
  }

  textarea {
    width: 100%;
    max-width: 100%;
    border: 0;
    background: transparent;
    height: 50px;
    font-size: 16px;
    color: #000000;
    border: 1px solid black;
    padding: 20px;
    box-sizing: border-box;
    min-height: 170px;
  }

  .flatButton {
    color: #000000;
    font-size: 11px;
    letter-spacing: 70px;
    text-indent: 60px;
    font-size: 75px;
    height: 50px;
    width: 100%;
    text-decoration: none;
    border: 1px solid #000000;
    background: 0 0;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
    &:hover {
      color: #fff;
      background-color: black;
    }
  }
}

.mapWrap {
  flex: 1;
  height: 100%;
}

.textZone {
  width: 50%;
  vertical-align: middle;
  display: table-cell;
  padding: 4vh 15px 0 0;
}
.textAnimateHover {
  &:hover {
    color: #fff;
  }
}

.contactPage {
  height: 100%;
  // left: 15px;
  align-items: center;
  h1 {
    font-size: 53px;
    font-family: "Coolvetica";
    color: #000000;
    font-weight: 400;
    margin-top: 0;
    position: relative;
    margin-bottom: 40px;
    left: -10px;
  }
  p {
    font-size: 14px;
    color: #000000;
    font-family: sans-serif;
    font-weight: 300;
    max-width: fit-content;
    animation: pulse 1s;
    &:nth-of-type(1) {
      animation-delay: 1.1s;
    }
    &:nth-of-type(2) {
      animation-delay: 1.2s;
    }
    &:nth-of-type(3) {
      animation-delay: 1.3s;
    }
  }
}

@media (max-width: v.$layout-breakpoint-small) {
  .contactPage {
    padding: 1vh 3vw 1vh 3vw;
  }

  .contactForm {
    width: 100%;
    padding: 0 30px 0 0px;
    ul {
      padding: initial;
      margin: 55px 0 0 0;
      position: relative !important;
      li {
        position: relative !important;

        padding: 0;
        margin: 0;
        list-style: none;
        margin-bottom: 10px;
        //opacity: 0;
        overflow: hidden;
        display: block;
        clear: both;
        position: relative;
        animation: fadeInUp 2s 2s;
        animation-fill-mode: forwards;
      }

      li.half {
        width: 49%;

        margin-left: 2%;
        float: left;
        clear: none;

        &:first-child {
          margin-left: 0;
        }
      }
    }

    input[type="text"],
    input[type="email"] {
      width: 100%;
      border: 0;
      background: #181818;
      height: 50px;
      font-size: 16px;
      color: #fff;
      padding: 0 20px;
      box-sizing: border-box;
    }

    textarea {
      width: 100%;
      border: 0;
      background: #181818;
      height: 50px;
      font-size: 16px;
      color: #818181;
      padding: 20px;
      box-sizing: border-box;
      min-height: 170px;
    }

    .flatButton {
      color: #ffd700;
      font-size: 11px;
      letter-spacing: 3px;
      text-decoration: none;
      padding: 8px 10px;
      border: 1px solid #ffd700;
      border-radius: 4px;
      background: 0 0;
      text-transform: uppercase;
      float: right;
      text-align: center;
      margin-right: 10px;
    }
  }

  .mapWrap {
    display: none;
  }

  .textZone {
    width: 100%;
    padding: 4vh 15px 0 0;
    color: #818181;
    .description {
      color: #818181;
    }
  }
  .textAnimateHover {
    &:hover {
      color: #fff;
    }
  }

  .contactPage {
    height: 100%;
    left: 15px;
    align-items: center;
    h1 {
      font-size: 53px;
      font-family: "Coolvetica";
      color: #ffd700;
      font-weight: 400;
      margin-top: 0;
      position: relative;
      margin-bottom: 40px;
      left: -10px;
    }
    p {
      font-size: 14px;
      color: #fff;
      font-family: sans-serif;
      font-weight: 300;
      max-width: fit-content;
      animation: pulse 1s;
      &:nth-of-type(1) {
        animation-delay: 1.1s;
      }
      &:nth-of-type(2) {
        animation-delay: 1.2s;
      }
      &:nth-of-type(3) {
        animation-delay: 1.3s;
      }
    }
  }
}
