.themeGodWrapper {
  padding: 0.2rem;
  align-items: center;
  justify-content: center;
  display: flex;
  margin-top: 20px;
  font-size: smaller;
  cursor: pointer;

  .rangeSlider {
    display: none;
    left: 50%;
    transform: unset;
    .inputRange {
      outline: none;
      -webkit-appearance: none;
      background-color: yellow;
      border-radius: 5px;
    }
    input[type="range"]::-webkit-slider-runnable-track {
      cursor: pointer;
      box-shadow: 1px 1px 1px #50555c;
      border-radius: 5px;
      border: 0px solid #000000;
      background-color: yellow;
      height: 10px;
    }
    input[type="range"]::-webkit-slider-thumb {
      width: 11px;
      height: 11px;
      -webkit-appearance: none;
      //   height: 12px;
      background: black;
      border-radius: 50%;
    }
  }

  ::-moz-range-track {
    // background: #ccc;
    border: 0;
  }

  input::-moz-focus-inner {
    border: 0;
  }
  button {
    background: transparent;
    border: none;
    font-size: 15px;
    cursor: pointer;
  }

  .d {
    display: none;
  }

  &.dark:hover {
    outline: 1px solid rgb(26, 26, 26);
    background-color: inherit;
    width: fit-content;
    justify-content: unset;
    border-radius: 1rem;
    .rangeSlider {
      display: block;
    }
    .d {
      display: block;
      width: 1px;
      height: 1px;
      background-color: #616161;
      border-radius: 50%;
    }
  }

  &:active,
  :focus {
    outline: none;
  }
}
