// .postTitleWrapper {
//   display: flex;
//   // width: 100%;
//   justify-content: space-between;
// }

// .postTitle {
//   user-select: none;

//   display: flex;
//   align-items: center;
//   justify-content: center;
//   width: 77%;

//   word-wrap: break-word;
//   word-break: break-all;
//   text-align: center;
// }

// .postLastUpdated {
//   right: 5px;
//   max-width: 30%;
//   display: flex;
//   align-items: center;
//   user-select: none;
// }

// a {
//   font-size: 1.3em;
// }

// a:link {
//   color: black;
//   text-decoration: underline;
// }

// a:visited {
//   color: grey;
//   text-decoration: underline;
// }

// a:hover {
//   font-weight: 600;
// }

// a:active {
//   text-decoration: none;
// }

// ul {
//   margin-top: 7em;
// }

// ul li {
//   margin-bottom: 1em;
// }

.backImage {
  position: absolute;
  left: 3vw;
  height: 100%;
  min-width: 72%;
  max-width: 72%;
  z-index: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  @media screen and (max-width: 1000px) {
    width: 100%;
  }
  @media screen and (max-width: 1250px) {
    width: 1000px;
  }
}

.page {
  z-index: 2;
}
